---
import Navbar from "../components/Navbar.astro"
import MarketingLayout from "../layouts/MarketingLayout.astro"
---

<MarketingLayout>
	<div>
		<Navbar />
		<main class="flex flex-col justify-center items-center min-h-screen">
			<h1>Abstractly</h1>
			<p>Coming Soon.</p>
			<p>
				In the meantime, check out the
				<a class="font-bold underline" href="/library">component library</a>.
			</p>
		</main>
	</div>
</MarketingLayout>
