---
import Layout from "../layouts/BaseLayout.astro"
---

<Layout>
	<main class="min-h-screen flex flex-col justify-center items-center">
		<h1>Abstractly</h1>
		<p>Coming Soon.</p>
		<p>
			In the meantime, check out the
			<a class="font-bold underline" href="/library">component library</a>.
		</p>
	</main>
</Layout>
