---
import Footer from "@/components/Footer.astro"
import LibraryLayout from "@/layouts/LibraryLayout.astro"
---

<LibraryLayout>
	<div class="flex flex-col justify-center items-center w-full min-h-screen">
		<Footer />
	</div>
</LibraryLayout>
