---
import CTestimonialCard from "../../components/TestimonialCard.astro"
import LibraryLayout from "../../layouts/LibraryLayout.astro"
import avatar from "../../assets/img/profile-thumbnail.png"
import Hero from "../../components/Hero.astro"
import Sheet from "../../components/Sheet.astro"
---

<LibraryLayout>
	<div class="flex flex-col justify-center items-center w-full min-h-screen">
		<Sheet>
			<Hero
				title="Well-crafted abstract images"
				description="High quality abstract images for your projects, wallpaper and presentations."
			/>
		</Sheet>
	</div>
</LibraryLayout>
