---
import LibraryLayout from "@/layouts/LibraryLayout.astro"
import { libraryLinks } from "@/lib/library-links"
---

<LibraryLayout>
	<div class="container py-20">
		<h1 class="text-primary-500 mb-12 text-7xl">Component Library</h1>
		<ul>
			{
				libraryLinks.map((link) => (
					<li>
						<a class="underline" href={`/library/${link.slug}`}>
							{link.name}
						</a>
					</li>
				))
			}
		</ul>
	</div>
</LibraryLayout>
