---
import LibraryLayout from "../../layouts/LibraryLayout.astro"
---

<LibraryLayout>
	<div class="py-20 max-w-7xl mx-auto">
		<h1 class="text-7xl mb-12">Component Library</h1>
		<ul>
			<li>
				<a class="underline" href="/library/testimonial-card">
					Testimonial Card
				</a>
			</li>
		</ul>
	</div>
</LibraryLayout>
