---
import LibraryLayout from "@/layouts/LibraryLayout.astro"
import CProfileCard from "@/components/ProfileCard.astro"
import Sheet from "@/components/Sheet.astro"
---

<LibraryLayout>
	<div class="flex flex-col justify-center items-center w-full min-h-screen">
		<CProfileCard />
	</div>
</LibraryLayout>
