---
import { Icon } from "astro-icon/components"

const siteLinks = [
	{
		text: "Features",
		href: "/features"
	},
	{
		text: "Library",
		href: "/library"
	},
	{
		text: "About us",
		href: "/about"
	},
	{
		text: "Contact",
		href: "/contact"
	}
]

const socialLinks = [
	{ icon: "yt", href: "https://youtube.com" },
	{ icon: "ig", href: "https://instagram.com" },
	{ icon: "fb", href: "https://facebook.com" },
	{ icon: "gh", href: "https://github.com" },
	{ icon: "twitter", href: "https://twitter.com" }
]
---

<footer class="flex flex-col items-center py-24">
	<ul class="text-muted flex gap-6 items-center mb-8">
		{
			siteLinks.map((link) => (
				<li>
					<a
						href={link.href}
						class="hover:underline hover:text-dark transition-colors">
						{link.text}
					</a>
				</li>
			))
		}
	</ul>
	<ul class="flex gap-6 items-center mb-4">
		{
			socialLinks.map((link) => (
				<li>
					<a href={link.href}>
						<Icon
							class="text-neutral-400 hover:text-neutral-600 text-xl transition-colors"
							name={link.icon}
						/>
					</a>
				</li>
			))
		}
	</ul>
	<div>© {new Date().getFullYear()} Abstractly, Inc. All rights reserved.</div>
</footer>
