---
import { Image } from "astro:assets"
import logo from "../assets/img/logo.svg"
const links = [
	{
		text: "Home",
		href: "/"
	},
	{
		text: "Features",
		href: "/features"
	},
	{
		text: "Pricing",
		href: "/pricing"
	},
	{
		text: "About us",
		href: "/about"
	},
	{
		text: "Contact",
		href: "/contact"
	}
]
---

<header class="py-4 w-full">
	<nav class="container flex justify-between items-center">
		<div class="flex gap-10 items-center">
			<div>
				<a href="/"><Image src={logo} alt="Abstractly Logo" /></a>
			</div>
			<ul class="lg:flex hidden gap-8 items-center">
				{
					links.map((link) => (
						<li>
							<a href={link.href} class="custom-focus">
								{link.text}
							</a>
						</li>
					))
				}
			</ul>
		</div>
		<div class="lg:flex hidden gap-4 items-center">
			<a href="#" class="btn-outline px-4 py-2 text-base">Learn more</a>
			<a href="#" class="btn-primary px-4 py-2 text-base">See Pricing</a>
		</div>
	</nav>
</header>
