---
type Props = {
	eyebrow: string
	title: string
	description: string
	titleTag?: "h1" | "h2" | "h3"
	mb?: number
}
const { eyebrow, title, description, titleTag = "h2", mb = 16 } = Astro.props
const TitleElement = titleTag
---

<div class="text-center" style={`margin-bottom: ${Math.floor(mb * 4)}px`}>
	<p class="text-primary-700 mb-3 font-semibold leading-6">{eyebrow}</p>
	<TitleElement class="leading-16 mb-5 text-5xl font-semibold">
		{title}
	</TitleElement>
	<p class="text-xl leading-[28px] text-muted max-w-prose mx-auto text-balance">
		{description}
	</p>
</div>
