---
import { LibraryMenu } from "../components/react/LibraryMenu"
import BaseLayout from "./BaseLayout.astro"
const {
	menuButtonX = "right",
	menuButtonY = "top",
	showBgGradient = "true"
} = Astro.props
---

<BaseLayout>
	<main class:list={["min-h-screen", { gradient: showBgGradient }]}>
		<slot />
		<LibraryMenu
			client:only="react"
			menuButtonX={menuButtonX}
			menuButtonY={menuButtonY}
		/>
	</main>
</BaseLayout>
